.App {
    text-align: center;
  }
  
  h1{
    text-align: left;
    margin-top: 5%;
    margin-left: 18%;
    color: black;
  }
  
  .list-group-item{
    background-color: #80cbc4;
    width: 150px;
    color: #eceff1;
    border: none;
    position: relative;
    top: 15%;
  }
  
  
  
  
  
  
  header{
    background-color: #eceff1;
    width: 1400px;
    margin-left: 5%;
    margin-top: 1%;
  }
  .call{
      background-color: black;
      border: 1px solid;
      border-radius: 90px;
      width: 50px;
      height: 50px;
      position:  relative ;
      top: 25px;
      margin-left: 8.4%;
  }
  .fa-phone{
      font-size: 20px;
    transform: rotate(90deg);
      color: white;
      position: relative;
      top: 10px;
      left: 13px;
  }
  .iconD{
        position: relative;
        top:-10%;
        width: 50px;
        font-size: 20px;
        margin-left: 11%;
        margin-top: -1%;
  }
  
  .info{
      position: relative;
      top: -20px;
    text-align: right;
    margin-right: 10%;
    margin-top: -4%;
  }
  .profile{
   font-size: 40px;
   margin-top: 1%;
   margin-right: 80%;
  }
  .person{
    width: 100px;
  }
  .name{
    font-size: 13px;
    margin-right: 4%;
  }
  .fa-angle-down{
    color: #4dd0e1;
  }
  .fresh{
      font-size: 40px;
      color: #eceff1;
      position: relative;
      left: -30%;
      top: 40px;
  }
  .all{
    width: 600px;
    position: relative;
    left: 17%;
    top: 15%;
  }
  
  form{
      margin-top: -10%;
      margin-left: 0%;
  }
  
  .form-row{
    margin-left: 30%;
    
  }
  .form-control{
    width: 350px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  label{
    margin-left: -80%;
  }
  .phone{
      margin-left: -17%;
      margin-top: 3%;
  }
  .button{
    position: relative;
    left: -19%;
  }
  section{
      width: 150px;
      height: 150px;;
      align-items: center;
      margin-left: 25%;
      margin-top: 4%;
      background-color: #263238;
  }
  .camera{
     font-size: 100px;
     margin-left:18%;
     color: aliceblue;
  }
  .btn-success{
    text-align: left;
    margin-left: -55%;
    margin-top: 5%;
  }
  
  
  .copyright{
    text-align: center;
  }
  .point{
    color: rgb(228, 231, 8);
    font-size: 30px;
    position: relative;
    top: -20px;
    left: 154px;
  }
  .yellow{
    color: yellow;
  }
  footer{
    position: fixed;
    background-color: #212121;
    width: 1400px;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 20px;
  }
  
  .copyright{
  color: #eceff1;
  font-size: 14px;
  }
  copyright > p{
    font-size: 12px;
  }
  table{
    position: relative;
    
    left: 18%;
    width: 40%;
    text-align: left;
  }
  table, th, td{
    padding: 5px;
  }
  th{
    font-size: 20px;
    color: white;
    background-color: #4dd0e1;
  }
  tr{
    color: black;
  }
  
  

  