header{
    background-color: #eceff1;
    width: 1400px;
    margin-left: 5%;
    margin-top: 1%;
  }
  .iconD{
    width: 50px;
    margin-left: 10.5%;
    margin-top: -1%;
  }
  
  .info{
    text-align: right;
    margin-right: 10%;
    margin-top: -4%;
  }
  .fa-portrait{
   font-size: 40px;
   margin-right:0%; 
   margin-top: 0%;
  }
  .person{
    width: 100px;
  }
  .name{
    font-size: 13px;
    margin-right: 4%;
  }
  .fa-angle-down{
    color: #4dd0e1;
  }
  
  h1{
    text-align: center;
    margin-top: 5%;
  }
  .btn-success{
    margin-left: 33%;
    margin-top: 1%;
  }
  .list-group-horizontal{
    width: 1000px;
    margin-left: 33%;
  }
  .btn{
    text-align: center;
  }
  .list-group-item{
    background-color: #80cbc4;
    width: 150px;
    color: #eceff1;
  }
  .copyright{
    text-align: center;
  }
  .fa-ellipsis-h{
    color: rgb(228, 231, 8);
    font-size: 30px;
    margin-left: 12%;
      margin-top: -1%;
  }
  .yellow{
    color: yellow;
  }
  footer{
    background-color: #212121;
    width: 1400px;
    margin-left: 5%;
    margin-top: 20%;
    font-size: 13p;
  }
  
  .copyright{
  color: #eceff1;
  font-size: 14px;
  }
  copyright > p{
    font-size: 12px;
  }
  